<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- profile header -->
    <section id="profile-header">
      <div class="profile-header">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- search profile -->
      </div>
    </section>
    <section id="search-profile">
      <div class="card">
        <!-- search -->
        <h5 class="card-header">Bộ lọc tìm kiếm</h5>
        <div class="card-body pb-1">
          <form class="form form-vertical" [formGroup]="formListProfile">
            <div class="row">
              <div class="col-md-1">
                <label for="">Số dòng:</label>
                <fieldset class="form-group">
                  <ng-select [items]="sizePage" bindValue="sizePage" [clearable]="false" formControlName="size"
                    (change)="
                      setPage({
                        offset: 0,
                        pageSize: formListProfile.controls.size
                      })
                    "></ng-select>
                </fieldset>
              </div>
              <div class="col-6 col-md-3">
                <label class="lable">Tên User</label>
                <input name="contains" id="contains" formControlName="contains" type="search" class="form-control"
                  placeholder="Nhập tên user hoặc email" />
              </div>
              <div class="col-6 col-md-2 mt-2">
                <button type="button" rippleEffect class="btn btn-primary" (click)="
                    setPage({
                      offset: 0,
                      pageSize: formListProfile.controls.size
                    })
                  ">
                  Tìm kiếm
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section id="table-profile-list">
      <div class="card">
        <div class="card-header py-1">
          <h4 class="card-title">Danh sách User</h4>
        </div>
        <!-- <div class="row">
          <div class="col-12 col-md-12 mb-50">
            <button class="btn btn-outline-secondary ml-50" rippleEffect (click)="removeListProfile()"
              [disabled]="selected.length === 0">
              <i data-feather="trash-2" class="d-sm-none d-inline-block"></i>
              <span class="d-none d-sm-inline-block">Xóa</span>
              <swal (open)="confirmRemoveListProfile()"></swal>
            </button>
          </div>
        </div> -->
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <ngx-datatable #tableRowDetails [rows]="rowsData" class="bootstrap core-bootstrap cursor"
          [columnMode]="ColumnMode.force" (select)="onSelect($event)" (select)="customCheckboxOnSelect($event)"
          [selectionType]="SelectionType.checkbox" [headerHeight]="50" rowHeight="auto" [scrollbarH]="true"
          [footerHeight]="50" (activate)="onActivate($event)" [rowHeight]="50" [externalPaging]="true"
          [limit]="pagedData.size" [count]="pagedData.totalItems" [offset]="pagedData.currentPage"
          [loadingIndicator]="isLoading" (page)="setPage($event)">
          <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" class="ml-1" name="checkbox">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn">
              <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)" id="headerCustomChkbxRef" />
                <label class="custom-control-label" for="headerCustomChkbxRef"></label>
              </div>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
              let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="custom-control custom-control-primary custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)" id="rowCustomChkbxRef{{ rowIndex }}" />
                <label class="custom-control-label" for="rowCustomChkbxRef{{ rowIndex }}"></label>
              </div>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="TT" [width]="50" [canAutoResize]="false" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
              {{ pagedData.currentPage * pagedData.size + rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Username" [width]="120">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
              {{ row.username }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email" [width]="200">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
              {{ row.email }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Trạng thái" [width]="200">
            <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
              <div *ngIf="row.isActive; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>Đã được Active</ng-template>
              <ng-template #elseBlock>Chưa được Active</ng-template>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Role"
            prop="role"
            [width]="180"
          ></ngx-datatable-column>

          <ngx-datatable-column name="Hành động" [width]="100" [sortable]="false" prop="">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
              <div class="d-flex align-items-center">
                <div ngbDropdown container="body">
                  <a ngbDropdownToggle class="hide-arrow" id="dropdownBrowserState" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                    <a [routerLink]="[
                        '../',
                        'profile-edit',
                        value.userId
                      ]" ngbDropdownItem class="d-flex align-items-center"><i data-feather="edit" class="mr-50"></i>
                      Xem/Cập nhật
                    </a>
                    <a ngbDropdownItem class="d-flex align-items-center"
                      (click)="deleteProfile(value.userId)"><i data-feather="trash-2" class="mr-50"></i> Xóa
                      <swal (open)="confirmRemoveProfile(value.userId)"></swal>
                    </a>
                  </div>
                </div>
                <a [routerLink]="[
                    '../',
                    'profile-edit',
                    value.userId
                  ]">
                  <i data-feather="edit" class="text-primary cursor-pointer"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
              let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
              <div class="page-count" *ngIf="!isLoading">
                Có tổng số
                {{ rowCount.toLocaleString() }} {{ totalMessage }} hàng.
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                [hidden]="!(rowCount / pageSize > 1)" (change)="table.onFooterPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>