@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/date-time-picker.component.scss';
@import "@core/scss/base/plugins/forms/form-validation.scss";
@import '@core/scss/angular/libs/toastr.component.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/date-time-picker.component.scss';
label{
    margin-bottom:0px;
}
.card-body{
    padding-bottom: 0px;
}
.datatable-body-cell-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }