<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="user" class="mr-sm-50"></i><span class="d-none d-sm-block">Thay đổi quyền</span></a
              >
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                  <!-- users edit media object start -->
                  <div class="media mb-2">
           
                    <ng-template #customAvatar>
                      <div
                        class="mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': currentRow.data.isActive == true,
                          'bg-light-secondary': currentRow.data.isActive == false
                        
                        }"
                      >
                        <div class="rounded p-3">{{ currentRow.data.name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="media-body mt-50">
                      <h4>{{ currentRow.data.name }}</h4>
                      <!-- <div class="col-12 d-flex mt-1 px-0">
                        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                          <span class="d-none d-sm-block">Change</span>
                          <input
                            class="form-control"
                            type="file"
                            id="change-picture"
                            hidden
                            accept="image/png, image/jpeg, image/jpg"
                            (change)="uploadImage($event)"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                        <button class="btn btn-outline-secondary d-block d-sm-none">
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>
                      </div> -->
                    </div>
                  </div>
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form class="form-validate" (ngSubmit)="onSubmit()" [formGroup]="formEdit">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input
                            type="text"
                            id="username"
                            class="form-control"
                            placeholder="Username"
                            name="username"
                            [(ngModel)]="currentRow.data.username"
                            formControlName="username"
                            readonly
                            required
                          />
                          <span *ngIf="formEdit.submitted && UserNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="UserNameRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            placeholder="Name"
                            name="fullName"
                            [(ngModel)]="currentRow.data.name"
                            formControlName="name"
                            readonly
                            required
                          />
                          <span *ngIf="formEdit.submitted && FullNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="FullNameRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input
                            type="email"
                            id="email"
                            class="form-control"
                            placeholder="Email"
                            name="email"
                            [(ngModel)]="currentRow.data.email"
                            formControlName="email"
                            readonly
                            required
                          />
                          <span *ngIf="formEdit.submitted && EmailRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="EmailRef.errors.required"
                              >This field is required!</small
                            >
                          </span>
                        </div>
                      </div>
                 
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Role</label>
                          <ng-select
                          [items]="roles"
                          placeholder="Select role"
                          [closeOnSelect]="false"
                          [searchable]="false"
                          formControlName="role"
                          (change)="selectRole($event)"
                        >
                        </ng-select>
                      
                        </div>
                      </div> 
                    
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          type="submit"
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                        >
                          Lưu
                        </button>
                        <button (click)="back()" class="btn btn-outline-secondary" rippleEffect>
                          Trở lại
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
