<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    Copyright &copy; {{ year }}
    <span class="d-none d-sm-inline-block">, Bản quyền thuộc Viện nghiên cứu ứng dụng công nghệ </span>
    <a class="ml-25" href="https://cist.cmc.com.vn/" target="_blank">CMC - CIST</a>
  </span>
  <span class="float-md-right d-none d-md-block">
    Made by Security Team <span [data-feather]="'heart'" [class]="'pink'"></span>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

