// ================================================================================================
//     File Name: coming-soon.scss
//     Description: Coming Soon pages custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Csign - Phần mềm ký số từ xa
//     Author: hung-hust-97
//     Author URL: https://github.com/hung-hust-97
// ================================================================================================

/*========== Coming Soon Background Image =========*/

.clockCard {
  float: left;
}

.getting-started {
  font-size: 3rem;
}
.lead {
  font-size: 1rem;
}
